　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　<title>{{ page.title }}</title>
    <meta name="description" content="Kun.G's Blog">
    <meta name="keywords" content="Programming, Game Dev, Blog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/atom+xml" title="ATOM Feed for Kun.G's Blog" href="{{ site.blog_feed_url }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://kun-g.github.io/stylesheets/pygments.css">
    <link rel="stylesheet" media="screen" href="http://kun-g.github.io/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="http://kun-g.github.io/bootstrap/css/bootstrap-responsive.min.css">
