---
layout: default
---

{{ content }}

<script>
$(document).ready(function() {
  console.log("Ready");
    $.getJSON("/recent.json",
      function(data) {
        var content = "<ul class=\"compact recent\">";
          $.each(data,
          function(i, item) {
            content += "<li><span class=\"date\">" + item.date + "</span><a href=\"" + item.url + "\">" + item.title + "</a></li>";
          });

          content += "</ul>";
        //console.log(content);
        //console.log($("#blog1-posts-list"));
        //$("#blog1-posts-list").append(content);
      });
    });
</script>
